<section class="section">
    <h1 class="title">Add Station</h1>
    <form action="/dashboard/addStation" method="POST">
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Station Name" name="name" required>
            </p>
        </div>
        {{#if existingStation}}
        <div id="warning-sign" class="notification is-warning">
            A station with the same name already exists!
        </div>
        {{/if}}
        <div class="field">
            <p class="control">
                <button class="button is-success">
                    Add Station
                </button>
            </p>
        </div>
    </form>
</section>