<section class="section">
  <h1 class="title">Add Station</h1>
  {{#if errorMessage}}
  <div id="warning-sign" class="notification is-danger">
    {{errorMessage}}
  </div>
  {{/if}}
  <form action="/dashboard/addStation" method="POST">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Station Name" name="name" required>
        </div>
        <div class="field">
          <input class="input" type="number" placeholder="Latitude" name="latitude" required step="0.000001">
        </div>
        <div class="field">
          <input class="input" type="number" placeholder="Longitude" name="longitude" required step="0.000001">
        </div>
      </div>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-success">
          Add Station
        </button>
      </p>
    </div>
    </div>
    </div>
    </div>
  </form>
</section>