<div class="title p-3 is-flex">
  <div class="field">
    <span class="icon is-large">
      <i id="logo" class="fas fa-sun"></i>
    </span>
  </div>
  <div class="ml-4">
    <h1 class="title is-4 has-text-primary">Weather Top 2.0</h1>
    <p class="subtitle is-6">Unleash the Power of Weather</p>
  </div>
</div>