<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Position">{{title}}</abbr></th>
      <th><abbr title="Played">Weather</abbr></th>
      <th><abbr title="Won">Temp</abbr></th>
      <th><abbr title="Drawn">Wind</abbr></th>
      <th><abbr title="Lost">Pressure</abbr></th>
    </tr>
  </thead>
</table>