<table class="table is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>
        <p title="Code">Code</p>
      </th>
      <th>
        <p title="Temp">Temp</p>
      </th>
      <th>
        <p title="Wind Speed">Wind Speed</p>
      </th>
      <th>
        <p title="Pressure">Pressure</p>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each readings}}
    <tr>
      <td>{{code}}</td>
      <td>{{temperature}}</td>
      <td>{{windSpeed}}</td>
      <td>{{pressure}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>