<table class="table  is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Position">Code</abbr></th>
      <th><abbr title="Played">Temp</abbr></th>
      <th><abbr title="Won">Wind Speed</abbr></th>
      <th><abbr title="Drawn">Pressure</abbr></th>
    </tr>
  </thead>
</table>