<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Weather Top 2</strong> - Making Weather Tracking Easy
      <br>
      Developed with ❤️ by <a href="https://github.com/GuineaCoding/weatherTopWebDeveopment2">Andrian</a>
      <br>
      &copy; 2023. All rights reserved.
    </p>
  </div>
</footer>