<h1 class="title">Stations</h1>
{{#each stations}}

<div class="box box-link-hover-shadow">
  <h2 class="title">{{name}}</h2>
  <a href="/station/{{id}}"><i class="fas fa-folder"></i></a>
</div>
{{/each}}