<nav class="navbar  green-box" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> brand}}

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a id="dashboard" class="button is-primary" href="/dashboard">Dashboard</a>
        <a id="about" class="button is-primary" href="/about">About</a>
        <a id="account" class="button is-primary" href="/account">Account</a>
        <a id="logout" class="button is-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
  </div>
</nav>