<section class="section">
        <form action="/station/{{station.id}}/generate-reading" method="POST">
        <div class="field is-grouped">
            <button class="button is-link">Generate Auto Reading</button>
        </div>
        </form>
    </section>
    