<section>
    <form action="/station/{{station.id}}/generate-reading" method="POST" class="box green-box">
        <button class="button is-primary is-fullwidth mb-2">Generate Auto Reading</button>
    </form>
</section>