<form class="box green-box" "/station/{{station.id}}/generate-reading" method="POST">
        <div class="field is-grouped">
            <button class="button is-primary is-fullwidth mb-2">Generate Auto Reading</button>
        </div>
</form>