<nav class="navbar green-box">
  <div class="navbar-brand">
    <a class="navbar-item is-size-3" href="/">
      <img src="/images/logo/logo.png" id="logo">
    </a>
    <div class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>
  <div id="" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <div class="buttons">
            <a class="button is-primary" id="login" href="/login"> Log in </a>
            <a class="button is-primary" id="about-visitor" href="/about-visitor">About-us</a>
            <a class="button is-primary" id="signup" href="/signup"> Sign up </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>