{{> menu active="about"}}

<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">About Weather Top 2.0</h1>
      <p class="subtitle">A wonderful description of your project goes here.</p>
    </div>
  </div>
</section>
