{{> welcome-menu active="login"}}

<section class="hero is-primary is-fullheight login-signup-page">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-8-desktop is-6-widescreen">
          <form action="/authenticate" method="POST" class="box green-box">
            <div class="field">
              <label for="" class="label has-text-white">Email</label>
              <div class="control has-icons-left">
                <input type="email" placeholder="Email" class="input" name="email" required>
                <span class="icon light-green is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label has-text-white">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" name="password" required>
                <span class="icon light-green is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-primary">
                  Login
                </button>
              </div>
              <div class="control">
                <a href="/signup" class="button is-info">
                  Sign Up
                </a>
              </div>
            </div>
            {{#if errorMessage}}
            <div id="warning-sign" class="notification is-danger">
              {{errorMessage}}
            </div>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>