{{> welcome-menu active="signup"}}
<section class="hero is-primary is-fullheight" id="login-page">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-8-desktop is-6-widescreen">
          <h1 class="title">Sign up</h1>
          <form action="/register" method="POST" class="box">
            <label class="label">Name</label>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <input class="input" type="text" placeholder="Enter first name" name="firstName" required>
                </div>
                <div class="field">
                  <input class="input" type="text" placeholder="Enter last name" name="lastName" required>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <input class="input" type="text" placeholder="Enter email" name="email" required>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <input class="input" type="password" placeholder="Enter Password" name="password" required>
            </div>
            {{#if errorMessage}}
            <div id="warning-sign" class="notification is-danger">
              {{errorMessage}}
            </div>
            {{/if}}
            <div class="field is-grouped">

            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Register</button>
              </div>
              <div class="control">
                <a href="/login" class="button is-success">
                  Sign In
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>