{{> welcome-menu active="signup"}}
<section class="hero is-primary is-fullheight page-gradient">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-8-tablet is-8-desktop is-8-widescreen">
          <h1 class="title">Sign up</h1>
          <form action="/register" method="POST" class="box green-box">
            <label class="label has-text-white">Name</label>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <input class="input" type="text" placeholder="Enter first name" name="firstName" required>
                </div>
                <div class="field">
                  <input class="input" type="text" placeholder="Enter last name" name="lastName" required>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label has-text-white">Email</label>
              <input class="input" type="text" placeholder="Enter email" name="email" required>
            </div>
            <div class="field">
              <label class="label has-text-white">Password</label>
              <input class="input" type="password" placeholder="Enter Password" name="password" minlength="6" required>
            </div>
            {{#if errorMessage}}
            <div id="warning-sign" class="notification is-danger">
              {{errorMessage}}
            </div>
            {{/if}}
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-info">Register</button>
              </div>
              <div class="control">
                <a href="/login" class="button is-primary">
                  Sign In
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>