body, .section, footer {
  background-color: #cde1de;
}

footer {
  padding: 3rem 1.5rem;
  color: white;
  background: rgb(14, 14, 14) !important;
}

.navbar {
  background-color: transparent;
}

.hero, .button.is-primary {
  background: linear-gradient(to right, #026635, #00371b);
  color: #fff;
  font-weight: bold;
}

 .weather-box {
  background: linear-gradient(to right, #005c27, #002e13);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 18px;
}

.table, .custom-table {
  background-color: #21692a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.table thead th, .custom-table thead th {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
}

.table tbody tr {
  background-color: #ffffff;
}

.table tbody td, .custom-table td {
  color: #333;
  font-weight: bold;
  padding: 12px;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #cce5ff;
}

#logo {
  color: #1b8145;
}

#last-readings > div > div {
  height: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-not-found-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.page-not-found-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.page-not-found-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.page-not-found-button-container {
  margin-top: 20px;
}

#login-page {
  background: linear-gradient(-45deg, #FFB86F, #FFA59E, #B9FFAB, #8EDFFF, #D2A2FD);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0%, 50%, 100% {
    background-position: 0% 50%;
  }
  25%, 75% {
    background-position: 100% 50%;
  }
}
  
footer strong, footer a {
  color: turquoise;
}
.title {
   color: white;
}

.subtitle {
  color: white;
  font-size: 1.2rem;
}

#parallax-1, #parallax-2, #parallax-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid;
  border-color: #002e13;
}

#parallax-1 {
  background-image: url(https://source.unsplash.com/featured/?sun);
  border-color: #95eed0;
}

#parallax-2 {
  background-image: url(https://source.unsplash.com/featured/?rain);
  border-color: #49c496;
}

#parallax-3 {
  background-image: url(https://source.unsplash.com/featured/?autumn);
  border-color: #dba9c2;
}

.section-background {
  background-color: #00000059;
  padding: 20px;
}
