body, .section, footer {
  background-color: #cde1de;
}

footer {
  padding: 3rem 1.5rem 3rem !important;
  color: white;
  background: rgb(14, 14, 14) !important;
}
body {
  min-height: 100vh; 
  margin: 0; 
  padding: 0; 
}

.navbar {
  background-color: transparent;
}

.hero, .button.is-primary {
  background-color: #267d0f;
  color: #fff;
  font-weight: bold;
}

.button.is-primary:hover {
  background-color: #1ba856;
}

 .weather-box {
  background: linear-gradient(to right, #005c27, #002e13);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 18px;
}

.table, .custom-table {
  background-color: #21692a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.table thead th, .custom-table thead th {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
}

.table tbody tr {
  background-color: #ffffff;
}

.table tbody td, .custom-table td {
  color: #333;
  font-weight: bold;
  padding: 12px;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #cce5ff;
}

#logo {
  color: #1b8145;
}

#last-readings > div > div {
  height: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-not-found-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.page-not-found-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.page-not-found-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.page-not-found-button-container {
  margin-top: 20px;
}

.page-gradient {
  background: linear-gradient(-45deg, #82f2ef, #44a85c, #bea51f, #3c819d, #4f47a5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.navbar-burger {
  color:  white !important;
  height: unset;
}
@keyframes gradient {
  0%, 50%, 100% {
    background-position: 0% 50%;
  }
  25%, 75% {
    background-position: 100% 50%;
  }
}
  
footer strong, footer a {
  color: turquoise;
}

footer a:hover {
  color: white;
}
.title {
   color: white;
}

.subtitle {
  color: white;
  font-size: 1.2rem;
}

#parallax-1, #parallax-2, #parallax-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid;
  border-color: #002e13;
}

#parallax-1 {
  background-image: url(https://source.unsplash.com/featured/?weather-earth);
  border-color: #95eed0;
}

#parallax-2 {
  background-image: url(https://source.unsplash.com/featured/?weather-data);
  border-color: #49c496;
}

#parallax-3 {
  background-image: url(https://source.unsplash.com/featured/?weather-station);
  border-color: #dba9c2;
}

.section-background {
  background-color: #00000059;
  padding: 20px;
}
.section {
  padding: 1.5rem 3rem;;
}
.green-box {
  background-color: #002e13 !important;
}

.light-green {
  color: #1ba856 !important;
}

.is-info {
  background-color: #1b8972 !important;
}

.is-info:hover {
  background-color: #2a9b84 !important;
}

.navbar-item img {
  max-height: 4.75rem;
}
#abut-us {
  background: url('../images/about-page/about-us-photo.jpg');
  background-size: cover; 
  background-position: center center; 
}

#abut-us > div > div {
  background-color: #524f4f36;
}

.button.is-danger:hover {
  background-color: #831329;
}

.weather-icon-image {
  max-width: 50px;
}

.fa-size {
  font-size: 30px;
}

.fa-gradient {
  background: linear-gradient(to right, #fff500, #ff0303);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.fa-tachometer-alt {
  color: #62d4cf;
}

#temp-chart > div > svg > text {
  color: #002e13 !important;
}

.arrow-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333; /* Arrow color */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle shape */
}