.hero {
  background: linear-gradient(to right, #026635, #00371b);
}

.button.is-primary {
  background: linear-gradient(to right, #026635, #00371b);
  color: #fff;
  font-weight: bold;
}

.box {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-box,
.temp-box,
.wind-box,
.pressure-box {
  background: linear-gradient(to right, #005c27, #002e13);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 18px;
}

.table {
  background-color: #21692a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.table thead th {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
}
#logo {
  color: #1b8145;
}

.table tbody tr {
  background-color: #ffffff;
}

.table tbody td {
  color: #333;
  font-weight: bold;
  padding: 12px;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #cce5ff;
}

.custom-table {
  height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.custom-table tbody tr:last-child {
  border-bottom: none;
}

.custom-table thead th {
  font-size: 20px;
}

.custom-table {
  border-radius: 15px;
}

.custom-table td {
  font-size: 18px;
}


#last-readings > div > div {
  height: 100%;
}

